:root {
  --fire-brick: #B22222;
  --fire-brick-hover: hsl(0, 60%, 55%);
  --indian-red: #CD5C5C;
  --burnt-sienna: #E97451;
  --sienna: #A0522D;
  --mint-green: #98FB98;
  --sage-green: #9DC183;
  --olive-green: #808000;
  --pale-lemon: #FFFFB3;
  --buttercream: #FFFDD0;
  --baby-blue: #89CFF0;
  --sky-blue: #87CEEB;

  --background-color-light: #FFFFFF;
  --text-color-light: #333333;
  --accent-color-light: var(--indian-red);
  --background-color-dark: #333333;
  --text-color-dark: #FFFFFF;
  --accent-color-dark: var(--indian-red);
  --nav-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px -2px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Light mode */
body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  --accent-color: var(--accent-color-light);
  --nav-bg: var(--indian-red);
  --nav-bg-hover: var(--burnt-sienna);
}

nav {
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited {
  color: darkgray;
}

a:hover {
  color: dimgray;
}

button {
  background-color: var(--accent-color);
  color: #FFFFFF;
  border: 2px solid var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.card {
  background-color: var(--background-color-light);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode */
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    --accent-color: var(--accent-color-dark);
    --nav-bg: var(--fire-brick);
    --nav-bg-hover: var(--fire-brick-hover);
  }

  nav {
    background-color: var(--accent-color);
    color: #FFFFFF;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px;
  }

  a {
    color: var(--accent-color);
  }

  a:visited {
    color: lightgray;
    opacity: 0.99;
  }

  a:hover {
    color: gainsboro;
  }

  button {
    background-color: var(--accent-color);
    color: #FFFFFF;
    border: 2px solid var(--accent-color);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 4px;
  }

  .card {
    background-color: var(--background-color-dark);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 2px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
